/* Reset default margin and padding */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
}

/* Center the form container vertically and horizontally */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#cad7fda4 ;
}

/* Style the form */
.login-form {
    width: 350px;
    padding: 40px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.login-form h2 {
    /* margin-bottom: 30px; */
    text-align: center;
}

/* Style the input fields and buttons */
input[type=text],
input[type=password],
button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #0c007d;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Float cancel button and forgot password link to the right */
.container {
    overflow: hidden;
}

.psw {
    float: right;
}

/* Clear floats after the container */
.container::after {
    content: "";
    clear: both;
    display: table;
}

/* Center the avatar image */
.imgcontainer {
    text-align: center;
    margin-bottom: 20px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#reg {
    display: block;
    text-align: center;
    /* margin-top: 20px; Adjust this value as needed */
}